<div class="container my-3">
  <div class="row">
    <div class="col-lg-4">
      <p class="header"> {{ 'PersonalInformation' | translate }}</p>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="row">
          <div class=" col-lg-5 firstSec">
            <label class="customFirstLabel"> {{ 'firstName' | translate }}</label>
          </div>
          <div class=" col-lg-5 ">
            <label class="customSecondLabel"> {{employee?.firstName }}</label>
          </div>
        </div>
        <div class="row">
          <div class=" col-lg-5 firstSec">
            <label class="customFirstLabel"> {{ 'secondName' | translate }}</label>
          </div>
          <div class=" col-lg-5 ">
            <label class="customSecondLabel"> {{employee?.lastName }}</label>
          </div>
        </div>
        <div class="row">
          <div class=" col-lg-5 firstSec">
            <label class="customFirstLabel"> {{ 'familyName' | translate }}</label>
          </div>
          <div class=" col-lg-5 ">
            <label class="customSecondLabel"> {{employee?.fullName }}</label>
          </div>
        </div>
        <div class="row">
          <div class=" col-lg-5 firstSec">
            <label class="customFirstLabel"> {{ 'gender' | translate }}</label>
          </div>
          <div class=" col-lg-5 ">
            <label class="customSecondLabel"> {{ getGenderLabel(employee?.gender||0) }}</label>
          </div>
        </div>
        <div class="row">
          <div class=" col-lg-5 firstSec">
            <label class="customFirstLabel"> {{ 'birthday' | translate }}</label>
          </div>
          <div class="col-lg-5">
            <label class="customSecondLabel">
              {{ employee?.birthDate | date: 'yyyy-MM-dd' }}
            </label>
          </div>

        </div>
        <div class="row">
          <div class=" col-lg-5 firstSec">
            <label class="customFirstLabel"> {{ 'nationality'| translate }}</label>
          </div>
          <div class=" col-lg-5 ">
            <label class="customSecondLabel"> {{employee?.nationality }}</label>
          </div>
        </div>
        <div class="row">
          <div class=" col-lg-5 firstSec">
            <label class="customFirstLabel"> {{ 'Maritalstatus' | translate }}</label>
          </div>
          <div class=" col-lg-5 ">
            <label class="customSecondLabel"> {{getMaritalStatusLabel(employee?.maritalStatus||'')
              }}</label>
          </div>
        </div>
        <div class="row">
          <div class=" col-lg-5 firstSec">
            <label class="customFirstLabel"> {{ 'Identificationnumber' | translate }}</label>
          </div>
          <div class=" col-lg-5 ">
            <label class="customSecondLabel"> {{employee?.nationalId }}</label>
          </div>
        </div>
        <div class="row">
          <div class=" col-lg-5 firstSec">
            <label class="customFirstLabel"> {{ 'Passportnumber'| translate }}</label>
          </div>
          <div class=" col-lg-5 ">
            <label class="customSecondLabel"> {{employee?.passport }}</label>
          </div>
        </div>
        <div class="row">
          <div class=" col-lg-5 firstSec">
            <label class="customFirstLabel"> {{ 'referancePhoto' | translate }}</label>
          </div>
          <div class=" col-lg-5 ">
            <div class="col-lg-5">
              <img [src]="employee?.referancePhoto" alt="Reference Photo" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
